<header>
    <div id="header-content">
        <div id="row-header">
            <div class="col-1 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                <nav>
                    <div class="btn" id="ctn-bars-search">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <ul>
                        <li><a routerlink="./index.html">Inicio</a></li>
                        <li><a routerlink= "#historia" >Historia</a></li>
                        <li><a routerlink="#Regiones">Regiones</a></li>
                        <li><a routerlink="./contacto.html">Contáctanos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-2 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <img src="..." alt="mm" height="100" width="330"> 
            </div>
            <div class="col-3 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="contenedor">
                    <input type="text" id="inputSearch" placeholder="Buscar">
                    <div class="btn" id="ctn-bars-search">
                        <i class="fa fa-search" id="icon-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<ul id="box-search">
    <li><a href="#"><i class="fas fa-search"></i>Región Centro</a></li>
    <li><a href="#"><i class="fas fa-search"></i>Región Norte</a></li>
    <li><a href="#"><i class="fas fa-search"></i>Región Este</a></li>
    <li><a href="#"><i class="fas fa-search"></i>Región Sureste</a></li>
    <li><a href="#"><i class="fas fa-search"></i>Región Sur</a></li>
    <li><a href="#"><i class="fas fa-search"></i>Región Oeste</a></li>
</ul>
           
