<footer>
    <div>
        <a href="https://instagram.com/ipet379molet?igshid=NTc4MTIwNjQ2YQ=="><img src="Recursos\imgs\logo_insta.png" alt="mm" height="100" width="100"></a>
        <a href="https://www.facebook.com/people/Ipet-N%C2%BA-379-La-Calera/100057211429936/"><img src="Recursos\imgs\icono_face.png" alt="mm" height="100" width="100"></a>
        <img src="Recursos\imgs\logo de turismo la calera.jpg" alt="no ta" width="500" height="100">
        <a href=""><img src="Recursos\imgs\logo_twitter.png" alt="mm" height="100" width="100"></a>
        <a href=""><img src="Recursos\imgs\whatsapp (2).png" alt="mm" height="100" width="100"></a>
    </div>
</footer>