<header>
    <div id="header-content">
        <div id="row-header">
            <div class="col-1 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                <nav>
                    <div class="btn" id="ctn-bars-search">
                        <i class="fa-solid fa-list"></i>
                    </div>
                    <ul>
                        <li><a routerlink="./index.html">Inicio</a></li>
                        <li><a routerlink= "#historia" >Historia</a></li>
                        <li><a routerlink="#Regiones">Regiones</a></li>
                        <li><a routerlink="./contacto.html">Contáctanos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-2 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <img src="..." alt="mm" height="100" width="330"> 
            </div>
           
